
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.stacks {
  display: flex;
  gap: 70px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.header {
  margin-bottom: 15px;
}
.header span {
  margin-right: 10px;
  border-radius: 3px;
  padding: 3px
}
.header button {
  padding: 3px 10px;
  border: none;
  border-radius: 3px;
  background:  cornflowerblue;
  color: #fff;
}
.header button:hover {
  cursor: pointer;
  background: rgb(81, 139, 246);
}
.card {
  position: relative;
  width: 130px;
  height: 80px;
  background: aquamarine;
  border: 1px solid #333;
  margin-bottom: 5px;
}
.card #text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card .cross {
  position: absolute;
  top: 5%;
  left: 85%;
}